html {
  box-sizing: border-box;
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;  
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  min-height: 320px;
  background-color: #f3f7f9;
  padding-bottom: 60px;
}

.header-upper {
  margin-bottom: 46px;
  background-color: #293449;  
}

.header-upper .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 42px;
}

.logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff; 
  text-transform: uppercase;
  text-align: center;
  
  display: block;
  width: 220px;

  background-color: #ee3643;
  box-shadow:  inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 10px;

  height: 47px;
  padding-top: 11px;
}

.catalog-logo:hover {
  background-color: #ca2c37; /** лого внутренней страницы **/
}

.catalog-logo:focus,
.catalog-logo:active {
  background-color: #ba2732; /** лого внутренней страницы **/
}

.search-form {
  position: relative;
  margin-left: 220px;
}

.search-icon {
  position: absolute;
  opacity: 0.5;
  top: 12px;
  left: 17px;
}

.search-input:hover + .search-icon {
  opacity: 1;
}

.search-input:focus + .search-icon path,
.search-input:active + .search-icon path {
  fill: #ee3643;
}

.search-input {
  width: 270px; 
  height: 42px;
  line-height: 18px;
  padding-left: 49px;
  
  background-color: #293449;
  border: none;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus,
.search-input:active {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.bookmarks,
.basket,
.order {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff; 

  display: block;
  width: 150px;
  height: 42px;
  padding-top: 12px;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:focus,
.bookmarks:active,
.basket:focus,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.basket-full { /** корзина каталога **/
  background-color: #ee3643;
}

.order {
  padding-left: 20px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus,
.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.bookmarks {
  position: relative;
  padding-left: 44px;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket {
  position: relative;
  padding-left: 50px;
}

.basket::before {
  content: "";

  position: absolute;

  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.bookmarks:active::before,
.basket:active::before {
  opacity: 0.5;
}

.header-middle {
  display: flex;
  margin-bottom: 40px;
  margin-left: 52px;
}

.header-middle h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643; 

  width: 197px;
  margin-top: 0;
  margin-right: 71px;
  margin-bottom: 0;
  padding-top: 3px;
}

.header-middle p,
.user-navigation {
  margin: 0; 
  padding: 0;
}

.header-middle p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643; 

  border: 3px solid #ffffff;

  position: relative;
  
  display: block;
  width: 270px;
  height: 45px;
  padding-top: 10px;
  padding-left: 72px;
}

.phone::before {
  content: "";

  position: absolute;

  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c; 
  padding-top: 3px;
}

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff; 
  
  background-color: #32425c;
}

.user-navigation,
.site-navigation,
.inner-user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  position: relative;
}

.login {
  display: block;
  padding-left: 48px;
  height: 45px;
  width: 121px;

  margin-right: 8px;
  padding-top: 12px;
}

.user-navigation svg {
  position: absolute;

  top: 14px;
  left: 14px;
}

.registration {
  display: block;
  width: 150px;
  height: 45px;  
  padding-top: 12px;
  padding-left: 25px;  
}

.profile-container {
  position: relative;
  width: 299px;
  height: 45px;
  background-color: #ffffff;

  padding-top: 12px;
  padding-left: 47px;
}

.user-navigation a,
.profile .name,
.profile .out {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.profile-container .out {
  font-size: 0;
}

.user-icon {
  position: absolute;
  top: 13px;
  left: 13px;
}

.out-icon {
  position: absolute;
  top: 14px;
  right: 10px;
}

.user-navigation a:hover {
  color: #ee3643; 
}

.login:hover + .login-icon path {
  fill: #32425c;
}

.user-navigation a:focus,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login:focus + .login-icon path,
.login:active + .login-icon path {
  fill: #c5c5c5;
}

.inner-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 228px;
  margin-top: 7px;
  padding-left: 18px;
}

.account {
  position: relative;
}

.account::before {
  position: absolute;
  content: "";

  top: 7px;
  left: -18px;
  background-color: #32425c;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.inner-user-navigation a { /** мои заказы личный кабинет**/
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  color: #32425c; 
  text-decoration: underline;
}

.inner-user-navigation a:hover { /** мои заказы личный кабинет**/ 
  color: #ee3643;
}

.profile .name:active,
.profile .out:active,
.inner-user-navigation a:focus,
.inner-user-navigation a:active { /** мои заказы личный кабинет**/
  color: rgba(50, 66, 92, 0.3);
}

.name:hover + .user-icon path,
.out-icon:hover path {
  fill: #32425c;
}

.name:focus + .user-icon path,
.name:active + .user-icon path,
.out-icon:focus path, 
.out-icon:active path {
  fill: #c5c5c5;
}

.site-navigation {
  display: flex;
  min-height: 60px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 22px;
  border-bottom: 5px solid #293449;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.current-page,
.site-navigation a {
  display: block;
  padding: 19px 31px;
}

/** стили body **/

.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 50px;
}

.categories-list-left,
.categories-list-right {
  margin: 0;
  padding: 0;
}

.categories-list-left {
  display: flex;
  flex-wrap: wrap;
}

.categories-list-right {
  display: flex;
  flex-direction: column;
}

.categories ul {
  list-style: none;
}

.catigories-item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 21px;
}

.new::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 15;

  background-image: url("../img/new_flag.png");
  background-repeat: no-repeat;
}

.catigories-item:last-child {
  margin-bottom: 0;
}

.categories-materials {
  background-color: #ffbf47;
  margin-right: 20px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.categories-instrument {
  background-color: #3bbce3;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.categories-equipment {
  background-color: #dc91d8;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.categories-sale {
  background-color: #8ed78f;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.categories-delivery {
  background-color: #ffc047;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.categories h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.categories-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  display: block;
  width: 136px;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  margin-top: 12px;
  margin-left: 4px;
  padding-top: 12px;

  background-color: rgba(0, 0, 0, 0.1);
}

.categories-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-button:focus,
.categories-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider,
.slider-content {
  position: relative;
}

.slider-content {
  display: none;
}

.categories .slider-title {  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  position: absolute;
  top: 23px;
  left: 24px;
  z-index: 1;
  margin: 0;
}

.slider-slogan {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  position: absolute;
  top: 61px;
  left: 24px;
  z-index: 1;
  margin: 0;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  display: block;
  width: 195px;
  height: 38px;
  padding-top: 11px;
  border-radius: 2px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus,
.button:active {
  background-color: #ba2732;
}

.slider-button {
  position: absolute;
  top: 206px;
  z-index: 1;
  margin: 0;
  margin-left: 24px;
}

.slider-buttons-previous {
  position: absolute;
  top: 114px;
  left: 24px;
  z-index: 5;
  margin: 0;

  width: 22px;  
  height: 40px;

  border: none;
  background: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-buttons-next {
  position: absolute;
  top: 114px;
  left: 578px;
  z-index: 5;
  margin: 0;

  width: 22px;  
  height: 40px;

  border: none;
  background: transparent;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

#slide-previous:checked ~ #slide2,
#slide-next:checked ~ #slide1 {
  display: block;
}

#slide-previous:checked ~ .slider-controls label[for="slide-previous"],
#slide-next:checked ~ .slider-controls label[for="slide-next"] {
  background-color: #ee3643;
}

#slide-previous:checked ~ .slider-content {
  background-image: url("img/slider_2.jpg");
}

#slide-next:checked ~ .slider-content {
  background-image: url("img/slider_1.jpg");
}

.slider-content::before,
.slider-content::after {
  content: "";

  visibility: hidden;
}

.slider-content::before {
  background-image: url("img/slider_2.jpg");
}

.slider-content::after {
  background-image: url("img/slider_1.jpg");
}

.popular-container {
  display: flex;
  justify-content: space-between;
  height: 89px;
  margin-bottom: 20px;
  padding-left: 29px;
  padding-right: 24px;
  padding-top: 24px;

  background-color: #f9f5f0;
}

.popular-container h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-top: 6px;
}

.popular-container .button {
  width: 253px; 
}

.popular-items-list,
.popular-factories-list {
  list-style: none;
}

.popular-items-list {
  display: flex;
  padding: 0; 
  margin: 0;
}

.catalog-item {
  position: relative;
  
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.catalog-item .actions{
    display:none;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions,
.catalog-item:focus .actions {
    display:block;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .image{
    width:218px;
    height:168px;
}

.catalog-item h3,
.catalog-item h4 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  min-height: 40px;

  margin-top: 12px;
  margin-bottom: 10px;
  padding: 0 25px;
}

.catalog-item p {
  display: flex;
  flex-direction: column;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  margin-bottom: 10px;
  min-height:18px;
}

.new-price {
  color: #ffffff;

  background-color: #ee3643;
  position: relative;
  margin: 0 auto;
  width: 141px;
  height: 38px; 
  border-radius: 3px;
  padding-top: 10px;
  margin-left: 42px;
}

.new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.actions {
  position:absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 168px;
  padding: 44px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 135px;
  border: 3px solid #63a63e;

  font-family: "Cuprum", sans-serif;  
  font-size: 14px;
  line-height: 18px;  
  font-weight: 400;
  text-transform: uppercase;   
  border-radius: 3px; 
  margin: 0 auto;
  padding: 7px 0;
}
    
.actions .buy {
  position: relative;
  color: white;    
  border-bottom-color:#367315; 
  background-color:#63a63e; 
  margin-bottom: 7px;
}

.actions .buy::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 12px;
  width: 15px;
  height: 15px;
  z-index: 20;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
} 

.actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;;
  border-bottom-color: #367315; 
}

.actions .buy:focus,
.actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.actions .bookmark {
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}

.popular-items-list {
  font-size:0;
}

.popular-factories-list {
  margin-bottom: 66px;
}

.popular-factories-list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; 
}

.popular-factories-list a {
  position: relative;
  display: flex;
  border: 1px solid #e5e5e5;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.popular-factories-list img {
  margin: auto;
}

.popular-factories-list a:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-factories-list a:focus,
.popular-factories-list a:active {
  opacity: 0.3;
}

.service {
  background-color: #f4f8f9;

  padding-top: 65px;
  margin-bottom: 77px; 
}

.service h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 27px;
}

.service p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000; 
  margin: 0;

  width: 400px;

  margin-bottom: 67px;
}

.features,
.features-description,
.transport-companies {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff; 

  width: 240px;
  height: 61px;
  padding-left: 23px;
  padding-top: 14px;

  background-color: #32425c;
  border-bottom: 1px solid #4e637c;
}

.features li:last-child {
  border-bottom: none;
}

.features li:hover {
  background-color: #293449;
}

.features-container .features-current,
.features li:focus,
.features li:active {
  color: #32425c;
  background-color: #ffffff;
}

.features-description li {
  padding-left: 80px;
  width: 700px;
  height: 280px;
}

.features-description h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c; 
  text-transform: uppercase;

  margin: 0;
  margin-top: 5px;
}

.features-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000; 

  width: 277px;
  margin-top: 32px;
}

.features-delivery {
  background-image: url("../img/service1.png");
  background-repeat: no-repeat;
  background-position: right 19px;
}

.features-guaranty p {
  width: 377px;
}

.features-guaranty {
  background-image: url("../img/service2.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

.features-credit p {
  width: 283px;
  margin-bottom: 30px;
}

.features-credit {
  background-image: url("../img/service3.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

.about-contacts {
  background-color: #ffffff;
  display: flex;
}

.about h2,
.contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000; 
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 26px;
}

.about p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000; 

  margin: 0;
}

.about p {
  width: 522px;
}

.contacts p {
  width: 185px;
  margin-bottom: 30px;
}

.about .button,
.contacts .button {
  margin-top: 37px;
  margin-bottom: 86px; 
}

.about .button {
  width: 220px;
}

.contacts .button {
  width: 300px;
}

.about .transport {
  width: 388px;
  margin-top: 23px;
  margin-bottom: 22px;
}

.transport-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000; 

  position: relative;
  margin-top: 20px;
  padding-left: 35px;
}

.transport-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0;
  background-color: #ee3643;
}

.features-container {
  display: flex; 
}

.about {
  width: 640px;
}

/** стили catalog**/

.breadcrumbs {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 355px;
  margin-top: 21px;
  margin-bottom: 20px;

  list-style: none;
  padding: 0;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000; 
  text-transform: uppercase;
}

.breadcrumbs .main-icon {
  display: block;
  font-size: 0;
  width: 15px;
}

.breadcrumbs .main-icon::before {
  position: absolute;
  content: "";
  top: 2px;

  width: 15px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 3px;

  width: 8px;
  height: 12px;

  margin-left: 17px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
} 

.breadcrumbs li:first-child::after {
  margin-left: 28px;
}

.page-title {
  height: 89px;
  padding-top: 30px;
  padding-left: 28px;
  margin: 0;
  margin-bottom: 20px; 
}

.page-title,
.description h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filter-title,
.filter-sort li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 11px;
}

.filter-sort,
.items-list,
.pagination-list,
.filter-factories-list,
.filter-battery-list {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.filter-form legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-factories-list label,
.filter-battery-list label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: #f7f3ec;

  margin-bottom: 9px;
}

.range-controls .scale {
  position: absolute;
  top: 39px;
  left: 20px;
  display: block;
  width: 180px;
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  display: block;
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.filter-toggle {
  position: absolute;
  top: 30px;

  width: 20px;
  height: 20px;
  padding: 0;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-button-min {
  left: 20px;
}

.filter-button-max {
  right: 40px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.price-controls input {
  background-color: #f7f3ec;
  border: none;  
}

.price-controls input {
  height: 38px;
  width: 95px;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  content: "";
  top: 63px;
  width: 220px;
  height: 2px;
  background-color: #e5e5e5;
}

.price-controls input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.price-controls input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.price-controls input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.filter-form .filter-price {
  margin-bottom: 28px;
}

.filter-factories input[type="checkbox"],
.filter-battery input[type="radio"] {
  position: absolute;
  width: 27px;
  height: 25px;
  vertical-align: middle;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
}

.filter-factories input[type="checkbox"] + label,
.filter-battery input[type="radio"] + label {
  position: relative;
  padding-left: 35px;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
}

.filter-factories input[type="checkbox"] + label::before {
  position: absolute;
  content:"";
  top: -3px;
  left: 0;
  display: block;
  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-off.svg"); 
  background-repeat: no-repeat; 
}

.filter-factories input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg"); 
  background-repeat: no-repeat; 
}

.filter-battery input[type="radio"] + label::before {
  position: absolute;
  content:"";
  top: -4px;
  left: -1px;
  display: block;
  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-off.svg"); 
  background-repeat: no-repeat; 
}

.filter-battery input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg"); 
  background-repeat: no-repeat; 
}

.filter-form .filter-factories {
  position: relative;
  margin-bottom: 20px;
}

.filter-factories::after {
    position: absolute;
    content: "";
    width: 220px;
    height: 2px;
    margin-top: 3px;
    background-color: #e5e5e5;
}

.catalog-columns {
  display: flex;
  margin-bottom: 60px;  
}

.catalog {
  width: 700px;
}

.filters {
  margin-right: 20px;
  width: 220px;
}

.filter-sort {
  display: flex;
  width: 700px;
  padding: 0;
  margin-bottom: 19px;
  background-color: #f7f3ec;
}

.filter-title {
  height: 38px;
  padding-left: 18px;
}

.filter-sort .filter-title {
  height: 27px;
  padding-left: 18px;
  padding-right: 140px;
}

.filter-sort .sort-item-current {
  margin-right: 71px;
}

.filter-sort a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px #ee3643 dashed;
}

.filter-sort a:hover {
  color: #000000;
  border-bottom: 1px #ee3643 solid;
}

.filter-sort .sort-item-current,
.filter-sort a:focus,
.filter-sort a:active {
  color: #ee3643;
  border-bottom: none;
}

.filter-sort .sort-up,
.filter-sort .sort-up:hover {
  margin-left: 46px;
  border-bottom: none;
}

.filter-sort .sort-down,
.filter-sort .sort-down:hover {
  border-bottom: none;
  margin-left: 21px;
}

.sort-up-icon path {
  fill: #ee3643;
}

.sort-down-icon path {
  fill: #c5c5c5;
}


.items-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.popular-items-list .index-item {
  margin-right: 20px;
}

.filter-button,
.pagination-list,
.pagination-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-item-current,
.pagination-item a {
  display: block;
  text-align: center;
  padding-top: 9px;
  width: 38px;
  height: 38px;
  border-radius: 2px;
  margin-right: 10px;
}

.pagination-last a {
  width: 140px;
}

.filter-button {
  width: 140px;
  height: 38px;
  margin-top: 57px;
}

.filter-button,
.pagination-list a {
  border: 1px solid #e5e5e5;
  background: #ffffff;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus,
.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.description {
  background-color: #f2f6f8;
  padding-bottom: 68px;
}

.description h3 {
  color: #000000;
  padding-top: 65px;
  margin: 0;
}

.description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-top: 26px;
}


/** стили footer**/

.footer-menu,
.footer-categories,
.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;

  background-color: #32425c;
}

.footer-upper {
  position: relative;
  margin-bottom: 34px;
}

.footer-upper,
.footer-middle {
  display: flex;
}

.footer-middle p {
  width: 328px;
  margin-top: 1px;
  margin-right: 86px;
  margin-left: 3px;
}

.footer-menu,
.footer-categories {
  display: flex;
  flex-wrap: wrap;
}

.footer-lower .container {
  display: flex;
  min-height: 107px;
}

.footer-lower {
  background-color: #293449;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;

  position: absolute;

  height: 68px;
  padding-top: 18px;
}

.footer-menu {
  padding-left: 392px;
  padding-top: 37px;
}

.footer-menu li,
.footer-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f1f5f7; 
}

.footer-menu li,
.footer-categories li {
  margin-right: 59px;
}

.footer-menu li:last-child,
.footer-categories li:last-child {
  margin-right: 0;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:focus,
.footer-menu a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-middle p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f1f5f7;
}

.footer-categories a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffd180;
}

.footer-categories a:hover {
  text-decoration: underline;
}

.footer-categories a:focus,
.footer-categories a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  margin: 0;
  display: block;
  margin-top: 36px;
  margin-right: 157px;
  width: 232px;
  padding-left: 2px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 134px;
  padding: 0;
  margin-top: 34px;
  margin-right: 118px;
}

.social-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.social-vk::before {
  position: absolute;
  content: "";

  width: 26px;
  height: 15px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-fb::before {
  position: absolute;
  content: "";

  width: 12px;
  height: 22px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-insta::before {
  position: absolute;
  content: "";

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-mail {
  width: 140px;
  margin-top: 36px;
  margin-right: 48px;
}

.footer-developers {
  width: 97px;
  margin-top: 36px;
}

.footer-mail b,
.footer-developers b {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
 }

.footer-mail a,
.footer-developers a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffd180;
 }

.footer-mail a:hover,
.footer-developers a:hover {
  text-decoration: underline;
}

.footer-mail a:focus,
.footer-mail a:active,
.footer-developers a:focus,
.footer-developers a:active {
  color: #ee3643;
  text-decoration: none;
}

/** всплывающие окна**/

.modal-write-us,
.cart {
  background-color: #ffffff;
  border-top: 7px solid #ff5358;
}

.button-background {
  background-color: #f4f4f4;  
}

.write-us-form label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  border: 2px solid #dee3e4;
}

.write-us-form input::placeholder,
.write-us-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  opacity: 1; /* Firefox */
}

.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
}

.write-us-form input::-ms-input-placeholder,
.write-us-form textarea::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
}

.cart p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.button-shopping {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase; 

  background-color: #ffffff;
}

/** сетки **/

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-guaranty,
.features-credit,
.modal-write-us,
.cart {
  display: none;
}

