body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f3f7f9;
}

.header-upper {
  background-color: #293449;  
}

.logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff; 
  text-transform: uppercase;

  background-color: #ee3643;
}

.catalog-logo:hover {
  background-color: #ca2c37; /** лого внутренней страницы **/
}

.catalog-logo:focus,
.catalog-logo:active {
  background-color: #ba2732; /** лого внутренней страницы **/
}

.search-form input {
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus,
.search-form input:active {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  color: #000000;

  background-color: #ffffff;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.bookmarks,
.basket,
.order {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff; 
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}


.bookmarks:focus,
.bookmarks:active,
.basket:focus,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.basket-full { /** корзина каталога **/
  background-color: #ee3643;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus,
.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-middle h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643; 
}

.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643; 

  border: 3px solid #ffffff;
}

.address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c; 
}

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff; 
  
  background-color: #32425c;  
}

.user-navigation,
.site-navigation,
.inner-user-navigation {
  list-style: none;
}

.user-navigation a,
.profile .name,
.profile .out {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:hover {
  color: #ee3643; 
}

.user-navigation a:focus,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.inner-user-navigation a { /** Равшан Джамшутович**/
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  color: #32425c; 
  text-decoration: underline;
}

.inner-user-navigation a:hover { /** Равшан Джамшутович**/ 
  color: #ee3643;
}

.profile .name:active,
.profile .out:active,
.inner-user-navigation a:focus,
.inner-user-navigation a:active { /** Равшан Джамшутович**/
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/** стили body **/

.categories ul {
  list-style: none;
}

.categories-materials {
  background-color: #ffbf47;
}

.categories-instrument {
  background-color: #3bbce3;
}

.categories-equipment {
  background-color: #dc91d8;
}

.categories-sale {
  background-color: #8ed78f;
}

.categories-delivery {
  background-color: #ffc047;
}

.categories h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff; 
}

.categories-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.categories-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-button:focus,
.categories-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-title {  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.slider-slogan {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus,
.button:active {
  background-color: #ba2732;
}

.popular-container {
  background-color: #f9f5f0;
}

.popular-container h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.popular-items-list,
.popular-factories-list {
  list-style: none;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
}

.popular-factories-list a {
  border: 1px solid #e5e5e5;
}

.popular-factories-list a:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-factories-list a:focus,
.popular-factories-list a:active {
  opacity: 0.3;
}

.service {
  background-color: #f4f8f9;
}

.service h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.service p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000; 
}

.features,
.features-description {
  list-style: none;
}

.features li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff; 

  background-color: #32425c;
}

.features li:hover {
  background-color: #293449;
}

.features li:focus,
.features li:active {
  color: #32425c;
  background-color: #ffffff;
}

.features-description h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c; 
  text-transform: uppercase;
}

.features-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000; 
}

.about-contacts {
  background-color: #ffffff;
}

.about h2,
.contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000; 
  text-transform: uppercase;
}

.about p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000; 
}

.transport {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000; 
}

/** стили catalog**/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000; 
  text-transform: uppercase;
}

.page-title,
.description h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filter-title,
.filter-sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-sort,
.items-list,
.pagination-list,
.filter-factories-list,
.filter-battery-list {
  list-style: none;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter-factories-list label,
.filter-battery-list label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.range-controls {
  background-color: #f7f3ec;
}

.price-controls,
.price-controls input {
  background-color: #f7f3ec;
  border: none;  
}

.price-controls input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.price-controls input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.price-controls input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.filter-sort a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px #ee3643 dashed;
}

.filter-sort a:hover {
  color: #000000;
  border-bottom: 1px #ee3643 solid;
}

.sort-item-current,
.filter-sort a:focus,
.filter-sort a:active {
  color: #ee3643;
  border-bottom: none;
}

.filter-button,
.pagination-list,
.pagination-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.filter-button,
.pagination-list a {
  border: 1px solid #e5e5e5;
  background: #ffffff;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus,
.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.description {
  background-color: #f2f6f8;
}

.description h3 {
  color: #000000;
}

.description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/** стили footer**/

.footer-menu,
.footer-categories,
.socials {
  list-style: none;
}

.main-footer {
  background-color: #32425c;
}

.footer-lower {
  background-color: #293449;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
}

.footer-menu,
.footer-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f1f5f7; 
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:focus,
.footer-menu a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-middle p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f1f5f7;
}

.footer-categories a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffd180;
}

.footer-categories a:hover {
  text-decoration: underline;
}

.footer-categories a:focus,
.footer-categories a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.social-button {
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-mail b,
.footer-developers b {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
 }

.footer-mail a,
.footer-developers a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffd180;
 }

.footer-mail a:hover,
.footer-developers a:hover {
  text-decoration: underline;
}

.footer-mail a:focus,
.footer-mail a:active,
.footer-developers a:focus,
.footer-developers a:active {
  color: #ee3643;
  text-decoration: none;
}

/** всплывающие окна**/

.modal-write-us,
.cart {
  background-color: #ffffff;
  border-top: 7px solid #ff5358;
}

.button-background {
  background-color: #f4f4f4;  
}

.write-us-form label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  border: 2px solid #dee3e4;
}

.write-us-form input::placeholder,
.write-us-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  opacity: 1; /* Firefox */
}

.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
}

.write-us-form input::-ms-input-placeholder,
.write-us-form textarea::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
}

.cart p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.button-shopping {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase; 

  background-color: #ffffff;
}